// HTML, Body
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* {
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  hyphens: auto;
  box-sizing: border-box;
}

// Headlines
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  display: block;
}

h1,
.uk-h1 {
}

h2,
.uk-h2 {
}

h3,
.uk-h3 {
}

h4,
.uk-h4 {
}

h5,
.uk-h5 {
}

h6,
.uk-h6 {
}

// Misc. Typo
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

a {
  transition: @base-transition;
}

// Classes
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.kap {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: @global-small-font-size;
}

// Uikit
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[class*=uk-column-] {
  h1,
  h2,
  h3,
  .uk-h1,
  .uk-h2,
  .uk-h3 {
    column-span: all;
    text-align: center;
  }
  p {
    margin: 0;
  }
}

.uk-card-primary.uk-card-body .uk-subnav>*>:first-child, .uk-card-primary>:not([class*=uk-card-media]) .uk-subnav>*>:first-child, .uk-card-secondary.uk-card-body .uk-subnav>*>:first-child, .uk-card-secondary>:not([class*=uk-card-media]) .uk-subnav>*>:first-child, .uk-light .uk-subnav>*>:first-child, .uk-offcanvas-bar .uk-subnav>*>:first-child, .uk-overlay-primary .uk-subnav>*>:first-child, .uk-section-primary:not(.uk-preserve-color) .uk-subnav>*>:first-child, .uk-section-secondary:not(.uk-preserve-color) .uk-subnav>*>:first-child, .uk-tile-primary:not(.uk-preserve-color) .uk-subnav>*>:first-child, .uk-tile-secondary:not(.uk-preserve-color) .uk-subnav>*>:first-child, .uk-card-primary.uk-card-body .uk-nav-primary>li>a, .uk-card-primary>:not([class*=uk-card-media]) .uk-nav-primary>li>a, .uk-card-secondary.uk-card-body .uk-nav-primary>li>a, .uk-card-secondary>:not([class*=uk-card-media]) .uk-nav-primary>li>a, .uk-light .uk-nav-primary>li>a, .uk-offcanvas-bar .uk-nav-primary>li>a, .uk-overlay-primary .uk-nav-primary>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-primary>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-primary>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-primary>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-primary>li>a {
  color: @w;
}
