// HTML, Body 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* {
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  & .margin-left {
    margin-left: 25px;
  }
  & .margin-top {
    margin-top: 32px;
  }
}

// Headlines 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  display: block;
  font-weight: @base-heading-font-weight;
}

h1,
.uk-h1 {
}

h2,
.uk-h2 {
}

h3,
.uk-h3 {
}

h4,
.uk-h4 {
}

h5,
.uk-h5 {
}

h6,
.uk-h6 {
}

// Misc. Typo 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

a {
  transition: @base-transition;
}

// Buttons 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


// Classes 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
