// Variablen 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@w:                                             #fff;
@verylightgrey:                                 #f2f2f2;
@lightgrey:                                     #ddd;
@grey:                                          #9b9b9b;
@darkgrey:                                      #4a4a4a;
@black:                                         #000;

@primary-color:                                 #000;
@primary-color-hover:                           #000;
@secondary-color:                               #000;
@secondary-color-hover:                         #000;

@txt:                                           @darkgrey;

@link:                                          @txt;
@link-hover:                                    @txt;

@base-heading-line-height:                      125%;

@base-transition:                               all 0.3s ease-in-out;



// Base uikit Variablen
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@base-body-background:                          @w;
@base-body-font-family:                         'Lato', sans-serif;;
@base-body-font-weight:                         400; 
@base-body-font-size:                           16px;
@base-body-line-height:                         140%;
@base-body-color:                               @txt;

@base-link-color:                               @link;
@base-link-text-decoration:                     none;
@base-link-hover-color:                         @link-hover;
@base-link-hover-text-decoration:               none;

@base-code-color:                               @grey;
@base-code-font-size:                           12px;
@base-code-font-family:                         Consolas, monospace, serif;
@base-em-color:                                 @txt;
//@base-ins-background:                           #ffa;
//@base-ins-color:                                #444;
//@base-mark-background:                          #ffa;
//@base-mark-color:                               #444;
//@base-quote-font-style:                         italic;

@base-margin-vertical:                          15px;

@base-heading-font-family:                      @base-body-font-family;
@base-heading-font-weight:                      700;
@base-heading-color:                            @primary-color;
@base-heading-text-transform:                   none;
@base-heading-margin-top:                       25px;
@base-h1-font-size:                             30px;
@base-h1-line-height:                           @base-heading-line-height;
@base-h2-font-size:                             30px;
@base-h2-line-height:                           @base-heading-line-height;
@base-h3-font-size:                             24px;
@base-h3-line-height:                           @base-heading-line-height;
@base-h4-font-size:                             18px;
@base-h4-line-height:                           @base-heading-line-height;
@base-h5-font-size:                             18px;
@base-h5-line-height:                           @base-heading-line-height;
@base-h6-font-size:                             16px;
@base-h6-line-height:                           @base-heading-line-height;

@base-list-padding-left:                        30px;

@base-hr-margin-vertical:                       @base-margin-vertical;
@base-hr-border:                                @lightgrey;
@base-hr-border-width:                          1px;

//@base-blockquote-padding-left:                  15px;
//@base-blockquote-border:                        #ddd;
//@base-blockquote-border-width:                  5px;
//@base-blockquote-font-size:                     16px;
//@base-blockquote-line-height:                   22px;
//@base-blockquote-font-style:                    italic;

//@base-pre-padding:                              10px;
//@base-pre-background:                           #f5f5f5;
//@base-pre-color:                                #444;
//@base-pre-font-size:                            12px;
//@base-pre-line-height:                          18px;
//@base-pre-font-family:                          @base-code-font-family;

@base-selection-background:                     @primary-color;
@base-selection-color:                          @w;



// uikit Breakpoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@breakpoint-small:                              480px;
@breakpoint-medium:                             768px;
@breakpoint-large:                              960px;
@breakpoint-xlarge:                             1220px;

@breakpoint-mini-max:                           (@breakpoint-small - 1);
@breakpoint-small-max:                          (@breakpoint-medium - 1);
@breakpoint-medium-max:                         (@breakpoint-large - 1);
@breakpoint-large-max:                          (@breakpoint-xlarge - 1);



// uikit Utility
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@utility-container-max-width:                   980px;
@utility-container-padding-horizontal:          25px;

@utility-container-large-max-width:             1200px;
@utility-container-large-padding-horizontal:    35px;

@utility-align-horizontal:                      15px;
@utility-align-vertical:                        15px;

@utility-height-viewport-min-height:            600px;

@utility-margin:                                30px;
@utility-margin-small:                          15px;
@utility-margin-large:                          60px;

@utility-border-rounded:                        5px;

@utility-heading-large-small-font-size:         36px;
@utility-heading-large-small-line-height:       42px;
@utility-heading-large-font-size:               52px;
@utility-heading-large-line-height:             64px; 

@utility-link-muted-color:                      @darkgrey;
@utility-link-muted-hover-color:                @darkgrey;

@utility-scrollable-text-height:                300px;

@utility-scrollable-box-height:                 170px;
@utility-scrollable-box-padding:                10px;
@utility-scrollable-box-border:                 @lightgrey;
@utility-scrollable-box-border-width:           1px;